@font-face {
    font-family: HelveticaAnthony;
    src: url(/assets/fonts/Helvetica\ Neue\ Medium\ Extended.ttf);
}

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 2px solid limegreen !important;*/
}

:root{
    --hue--neutral: 200;
    --hue--wrong: 0;
    --hue--correct: 145;
}

body{
    font-family: HelveticaAnthony;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

body.correct{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

body.wrong{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.container{
    font-family: HelveticaAnthony;
    width: 800px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    /* GLASS EFFECT */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#question{
    font-size: 4vh;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    font-family: HelveticaAnthony;
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    text-transform: uppercase;

    /* GLASS EFFECT */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.37);
}

.btn:hover, .btn:focus{
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover{
    transform: translateY(-1px);
}

.btn.correct{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    color: black;
}

.btn.wrong{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.start-btn, .next-btn, .score-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#score-board{
    display: none;
    justify-content: center;
    text-transform: uppercase;
    padding: 20px 10px 10px 10px;
}

.save-score{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 20px;
}

#save-btn{
    font-family: HelveticaAnthony;
    text-transform: uppercase;
    width: 50%;
    background-color: inherit;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 3vh;

}

#save-btn:hover{
    cursor: pointer;
}

#user-input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* background-color: white; */
    border: 0;  
}

/* fieldset styling */

#input-field{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

/* input box styling */
#inpKey, #inpVal{
    /* border: none; */
    /* outline: none; */
    /* background-color: transparent; */
    font-family: HelveticaAnthony;
    border-radius: 10px;
    resize: none;
    width: auto;
    height: 4vh;
}

#submit-button{
    padding: 10px;
    font-family: HelveticaAnthony;
    text-transform: uppercase;
    border-radius: 10px;
    height: 4vh;
}

/* change placeholder color */

::placeholder{
    font-family: HelveticaAnthony;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.hide{
    display: none;
}

.add-space{
    justify-content: space-around;
}



